* {
  margin: 0;
  padding: 0;
}
.cart-product {
  width: 60%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #eafdfc;
  border-radius: 10px;
}
.cart-product .image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  /* border: 2px solid black; */
}
.cart-product .name {
  width: 25%;
  /* border: 2px solid black; */
  padding-left: 20px;
  font-size: 24px;

}
.cart-product .price {
  width: 25%;
  /* border: 2px solid black; */
  padding-left: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.cart-product .action {
  width: 25%;
  /* border: 2px solid black; */
  padding-left: 20px;
  text-align: center;
}
.cart-product .action img {
  height: 30px;
  cursor: pointer;
}
.cart-product .image img {
  height: 140px;
}
